/*  ===========================================================================
//  RESET
===========================================================================  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/*  ===========================================================================
//  VARIABLES
===========================================================================  */
:root {
    --cardBackground: rgb(26, 110, 155);
    --cardPip: var(--cardBackground);
}




/*  ===========================================================================
//  TAGS
===========================================================================  */
body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--cardBackground);
}

h1 {
    font: bold 100px arial, sans-serif;
    background-color: #7fc0c7;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.633);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    font-weight: 900;
}

a {
    color: black;
}




/*  ===========================================================================
//  HEADER
===============================================================================
//  HEADER that contains the title, instructions, and a reset button
===========================================================================  */
header {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




/*  ===========================================================================
//  GAME CONTAINER
===============================================================================
//  DIV that contains all of the game elements including the players
===========================================================================  */
#gameContainer {
    /* height: 100%; */
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instructions {
    margin-bottom: 10px;
    font-weight: bold;
}




/*  ===========================================================================
//  PLAYERS
===============================================================================
//  DIV that contains both of the players
===========================================================================  */
#players {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}




/*  ===========================================================================
//  PLAYER
===============================================================================
//  DIV that contains a player's name, status, message, and their cards
===========================================================================  */
#playerOne {
    margin-bottom: 20px;
}

.playerName {
    display: inline-block;
    font: bold 48px arial, sans-serif;
    background-color: #879799;
    color: transparent;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.633);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
    margin-bottom: 10px;
}

.status {
    font-style: italic;
    font-size: 16px;
    /* font-weight: bold; */
    margin-left: 20px;
}

.message {
    font-size: 16px;
    font-weight: bold;
}




/*  ===========================================================================
//  CARDS
===============================================================================
//  DIV that contains each of the players' cards
===========================================================================  */
.cards {
    display: flex;
    margin-bottom: 10px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
    margin: 3px;
    border: 1px ridge rgba(40, 40, 40, 0.282);
    border-radius: 10px;
    background-color: var(--cardBackground);

    background-image: url('logo.png');
    background-position: center;
    background-size: 150%;

    height: 150px;
    width: 100px;

    box-shadow: 5px 10px 10px grey;
}

.card:first-child {
    margin-left: 0;
}

.cardInfo {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1.0);
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 48px;
    color: black;
    border-radius: 5px;
}

.hide {
    display: none;
}




/*  ===========================================================================
//  BUTTONS
===============================================================================
//  Styles for all of the buttons
//  One button to reset the game
//  Other buttons to control the gameplay
===========================================================================  */
button {
    padding: 10px 15px;
    border-radius: 7px;
    border: 2px outset white;
    background-color: var(--cardBackground);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: white;
    color: var(--cardBackground);
    border-color: var(--cardBackground);
}

button:active {
    border-style: inset;
}

.buttonsPlay .button:disabled {
    background-color: transparent;
    color: transparent;
    cursor: default;
    border-color: transparent;
}




/*  ===========================================================================
//  FOOTER
===============================================================================
//  FOOTER that contains copyright link and link for the background image
//  attribution
===========================================================================  */
footer {
    margin-top: 60px;
    text-align: center;
}