* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cardBackground: rgb(26, 110, 155);
    --cardPip: var(--cardBackground);
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameContainer {
    /* height: 100%; */
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instructions {
    font-style: italic;
    font-weight: bold;
}
.message {
    font-size: 16px;
    font-weight: bold;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

h2 {
    font-weight: 900;
}

.playerName {
    display: inline-block;
}

.status {
    font-style: italic;
    font-size: 16px;
    /* font-weight: bold; */
    margin-left: 20px;
}



#players {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#playerOne {
    margin-bottom: 60px;
}

.cards {
    display: flex;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
    margin: 3px;
    border: 2px outset white;
    border-radius: 10px;
    background-color: var(--cardBackground);

    background-image: url('logo.png');
    background-position: center;
    background-size: 150%;

    height: 150px;
    width: 100px;
}

.card:first-child {
    margin-left: 0;
}

.cardInfo {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1.0);
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 48px;
    color: black;
    border-radius: 5px;
}

.hide {
    display: none;
}


button {
    padding: 10px 15px;
    border-radius: 7px;
    border: 2px outset white;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:active {
    border: 2px inset white;
}

.buttonsPlay {
    margin-top: 10px;
}

.buttonsPlay .button {
    background-color: var(--cardBackground);
}

.buttonsPlay .button:hover {
    background-color: green;
    /* color: black; */
}

.buttonsPlay .button:disabled {
    background-color: transparent;
    color: rgb(101, 101, 101);
    cursor:not-allowed;
    border: 2px outset rgb(231, 231, 231);
}


.buttonsPlay .button:active {
    background-color: cornflowerblue;
}


#playAgain {
    margin-top: 20px;
    background-color: var(--cardBackground);
}

#playAgain:hover {
    background-color: green;
}
